<div class="search-container" style="display: none;">
	<a href=# class="sprite  sprite--green-circle hamburger float--right">Close</a>
	<form action="/search" method="get">
	    <input type="text" id="search-query" class="search-query alpha one-whole" name="q" placeholder="Search" autocomplete="off">
	</form>
	<h2>Tags</h2>
	<ul class="tags">
		<li><a href="http://trentwalton.com/tag/animation/" class="tag-link-19" title="2 topics">Animation</a></li>
		<li><a href="http://trentwalton.com/tag/apple/" class="tag-link-24" title="4 topics">Apple</a></li>
		<li><a href="http://trentwalton.com/tag/chrome/" class="tag-link-44" title="7 topics">Chrome</a></li>
		<li><a href="http://trentwalton.com/tag/conferences/" class="tag-link-47" title="9 topics">Conferences</a></li>
		<li><a href="http://trentwalton.com/tag/css/" class="tag-link-22" title="34 topics">CSS</a></li>
		<li><a href="http://trentwalton.com/tag/css3/" class="tag-link-20" title="24 topics">CSS3</a></li>
		<li><a href="http://trentwalton.com/tag/design/" class="tag-link-8" title="34 topics">Design</a></li>
		<li><a href="http://trentwalton.com/tag/designswap/" class="tag-link-15" title="5 topics">DesignSwap</a></li>
		<li><a href="http://trentwalton.com/tag/dribbble/" class="tag-link-41" title="5 topics">Dribbble</a></li>
		<li><a href="http://trentwalton.com/tag/education/" class="tag-link-65" title="2 topics">Education</a></li>
		<li><a href="http://trentwalton.com/tag/firefox/" class="tag-link-42" title="5 topics">Firefox</a></li>
		<li><a href="http://trentwalton.com/tag/fittext/" class="tag-link-53" title="10 topics">FitText</a></li>
		<li><a href="http://trentwalton.com/tag/food/" class="tag-link-30" title="2 topics">Food</a></li>
		<li><a href="http://trentwalton.com/tag/gowalla/" class="tag-link-50" title="2 topics">Gowalla</a></li>
		<li><a href="http://trentwalton.com/tag/html5/" class="tag-link-34" title="2 topics">HTML5</a></li>
		<li><a href="http://trentwalton.com/tag/illustration/" class="tag-link-16" title="9 topics">Illustration</a></li>
		<li><a href="http://trentwalton.com/tag/internet-explorer/" class="tag-link-46" title="5 topics">Internet Explorer</a></li>
		<li><a href="http://trentwalton.com/tag/ipad/" class="tag-link-25" title="7 topics">iPad</a></li>
		<li><a href="http://trentwalton.com/tag/iphone/" class="tag-link-26" title="8 topics">iPhone</a></li>
		<li><a href="http://trentwalton.com/tag/kickstarter/" class="tag-link-58" title="3 topics">Kickstarter</a></li>
		<li><a href="http://trentwalton.com/tag/lettering-js/" class="tag-link-49" title="13 topics">Lettering.js</a></li>
		<li><a href="http://trentwalton.com/tag/markup/" class="tag-link-23" title="15 topics">Markup</a></li>
		<li><a href="http://trentwalton.com/tag/microsoft/" class="tag-link-64" title="3 topics">Microsoft</a></li>
		<li><a href="http://trentwalton.com/tag/mobile/" class="tag-link-33" title="6 topics">Mobile</a></li>
		<li><a href="http://trentwalton.com/tag/multi-touch/" class="tag-link-27" title="7 topics">Multi-Touch</a></li>
		<li><a href="http://trentwalton.com/tag/netmag/" class="tag-link-57" title="4 topics">Netmag</a></li>
		<li><a href="http://trentwalton.com/tag/opera/" class="tag-link-43" title="4 topics">Opera</a></li>
		<li><a href="http://trentwalton.com/tag/opinion/" class="tag-link-6" title="33 topics">Opinion</a></li>
		<li><a href="http://trentwalton.com/tag/paravel/" class="tag-link-17" title="31 topics">Paravel</a></li>
		<li><a href="http://trentwalton.com/tag/personal/" class="tag-link-5" title="27 topics">Personal</a></li>
		<li><a href="http://trentwalton.com/tag/responsive/" class="tag-link-54" title="27 topics">Responsive</a></li>
		<li><a href="http://trentwalton.com/tag/safari/" class="tag-link-40" title="8 topics">Safari</a></li>
		<li><a href="http://trentwalton.com/tag/speaking/" class="tag-link-56" title="6 topics">Speaking</a></li>
		<li><a href="http://trentwalton.com/tag/sxsw/" class="tag-link-51" title="3 topics">SXSW</a></li>
		<li><a href="http://trentwalton.com/tag/the-many-faces-of/" class="tag-link-18" title="3 topics">The Many Faces Of</a></li>
		<li><a href="http://trentwalton.com/tag/twitter/" class="tag-link-38" title="5 topics">Twitter</a></li>
		<li><a href="http://trentwalton.com/tag/typekit/" class="tag-link-52" title="10 topics">Typekit</a></li>
		<li><a href="http://trentwalton.com/tag/typography/" class="tag-link-35" title="31 topics">Typography</a></li>
		<li><a href="http://trentwalton.com/tag/ux/" class="tag-link-29" title="5 topics">UX</a></li>
		<li><a href="http://trentwalton.com/tag/w3c/" class="tag-link-37" title="4 topics">W3C</a></li>
		<li><a href="http://trentwalton.com/tag/web-fonts/" class="tag-link-36" title="21 topics">Web Fonts</a></li>
		<li><a href="http://trentwalton.com/tag/webkit/" class="tag-link-21" title="13 topics">Webkit</a></li>
		<li><a href="http://trentwalton.com/tag/windows-8/" class="tag-link-66" title="3 topics">Windows 8</a></li>
		<li><a href="http://trentwalton.com/tag/wordpress/" class="tag-link-32" title="6 topics">Wordpress</a></li>
		<li><a href="http://trentwalton.com/tag/writing/" class="tag-link-60" title="2 topics">Writing</a></li>
	</ul>
</div>